<div class="container-fluid white">
    <div class="row">
        <div class="col-xs-12 mt-3 ml-3 mb-3">
            <%= link_to new_customer_path, :rel => 'noopener noreferrer' do %>
                <button type="button" class="btn btn-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="white" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                    </svg>
                    Clientes
                </button>
            <% end %>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover" id="customers_table">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Categoría</th>
                    <th>Calsificación</th>
                    <th>Nivel</th>
                    <th>Giro</th>
                    <th>Web</th>
                    <th>Fecha Creación</th>
                    <th>Autor</th>
                    <th>Fecha Actualización</th>
                    <th>Actualizado</th>
                    <th>Estatus</th>
                    <% if logged_in? && current_user.admin? %>
                        <th>Editar</th>
                    <% end %>
                </tr>
            </thead>
            <tbody>
                <% @customers.each do |customer| %>
                    <tr>
                        <td><%= customer[:customer] %></td>
                        <td><%= customer.category.category %></td>
                        <td><%= customer.classification.classification %></td>
                        <td><%= customer[:level] %></td>
                        <td><%= customer[:customer_type] %></td>
                        <td><%= customer[:web_address] %></td>
                        <td><%= customer[:created_at] %></td>
                        <td><%= customer[:created_by] %></td>
                        <td><%= customer[:updated_at] %></td>
                        <td><%= customer[:updated_by] %></td>
                        <td><%= customer[:status] %></td>
                        <% if logged_in? && current_user.admin? %>
                            <td>
                                <%= link_to edit_credit_path(customer) do %>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="#ffd600" class="bi bi-pencil-fill pointer" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                    </svg>
                                <% end %>
                            </td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>

<script type="application/javascript">
    /* Avoid datatable duplication with turbolinks */
    document.addEventListener("turbolinks:load", function() {
      "use strict";
      if ($("#customers_table_wrapper").length == 0) {
        $("#customers_table").DataTable({
            scrollY:        "500px",
            scrollX:        true,
            scrollCollapse: true,
            paging:         false,
            fixedColumns:   {
                left: 1,
                right: 1
            }
        });
      }
    });
</script>