<section class="container control-box">
        <%= form_with(model: @customer, local: true, :html => { class: "" }) do |f| %>
            <%= render 'shared/errors', obj: @customer %>
            <% if @customer.new_record? %>
                <%= f.hidden_field :created_by, value: current_user.username %>
            <% end %>

            <%= f.hidden_field :updated_by, value: current_user.username %>
            
            <div class="form-group">
                <div class="col-sm-12">
                    <%= f.label :customer, "Cliente", class: "form-label" %>
                    <br>
                    <%= f.text_field :customer, class: "form-control upcase", required: true %>
                </div>
            </div>

            <div class="row">
                
                <div class="col-6 pb-2">
                    <%= f.label :category_id, "Categoría", class: "form-label" %>
                    <br>
                    <%= select_tag :category_id, options_from_collection_for_select(@categories, :id, :category), id: "select_category", class: "select-max-width form-control" %>
                </div>

                <div class="col-6 pb-2">
                    <%= f.label :classification_id, "Clasificación", class: "form-label" %>
                    <br>
                    <%= select_tag :classification_id, options_from_collection_for_select(@classifications, :id, :classification), id: "select_classification", class: "form-control select-max-width " %>
                </div>
            </div>
        <% end %>
</section>


<script type="text/javascript">
    let categorySelect = document.getElementById("select_category");
    categorySelect.value = "<%= @selected_category %>";
    categorySelect.dispatchEvent(new Event('change'));

    let classificationSelect = document.getElementById("select_classification");
    classificationSelect.value = "<%= @selected_classification %>";
    classificationSelect.dispatchEvent(new Event('change'));
</script>