<style>
  .navbar-custom {
    /*background: -webkit-linear-gradient(left, #3931af, #00c6ff);*/
    background: #3931af;
  }

  .nav-link {
    color: white;
  }

  .nav-link:hover {
    color: cyan;
  }

  .link-wrapper {
    padding: 0.7em;
  }

  .link-wrapper:hover {
    background-color: black;
    border-bottom: 2px solid cyan;
    border-radius: 3px;
  }

  .link-wrapper.active {
    background-color: black;
    color: cyan;
    border-radius: 3px;
    border-top: 2px solid cyan;
  }
</style>

<nav class="navbar sticky-top navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= image_tag("LOGO_REMCO.png", :alt => "logo remco") %></a>
    <% if logged_in? %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="1.7em" height="1.7em" fill="white" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            
            <%= link_to home_path, class: "nav-link" do %>
              <span class="link-wrapper <%=current_page?(home_path)? "active" : ""%>">Inicio</span>
            <% end %>
            
          </li>
          <li class="nav-item">
            <%= link_to customers_path, class: "nav-link" do %>
              <span class="link-wrapper <%= "active" if current_page?(customers_path) || current_page?(new_customer_path) || current_page?(edit_customer_path) %>">Clientes</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to users_path, class: "nav-link" do %>
              <span class="link-wrapper <%=current_page?(clientes_path)? "active" : ""%>">Contactos</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to users_path, class: "nav-link" do %>
              <span class="link-wrapper <%=current_page?(facturacion_path)? "active" : ""%>">Facturación</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to users_path, class: "nav-link" do %>
              <span class="link-wrapper <%=current_page?(direcciones_path)? "active" : ""%>">Direcciones</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to users_path, class: "nav-link" do %>
              <span class="link-wrapper <%=current_page?(entregas_path)? "active" : ""%>">Entregas</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to users_path, class: "nav-link" do %>
              <span class="link-wrapper <%=current_page?(llamadas_path)? "active" : ""%>">Llamadas</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to users_path, class: "nav-link" do %>
              <span class="link-wrapper <%=current_page?(users_path)? "active" : ""%>">Usuarios</span>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="link-wrapper <%= "active" if current_page?(categories_path) || current_page?(new_category_path) ||
                                                        current_page?(classifications_path) ||  current_page?(new_classification_path) ||
                                                        current_page?(credits_path) || current_page?(payment_methods_path)
                                                      %>">Catálogos</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "Categorías", categories_path, class: "dropdown-item" %>
              <%= link_to "Clasificaciones", classifications_path, class: "dropdown-item" %>
              <%= link_to "Créditos", credits_path, class: "dropdown-item" %>
              <%= link_to "Métodos de pago", payment_methods_path, class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="link-wrapper <%= 'active' if request.path == user_path(current_user) || request.path == edit_user_path(current_user) %>">
                <%= current_user.username %> <%= "-admin" if current_user.admin? %>
              </span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "Ver perfil", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Editar perfil", edit_user_path(current_user), class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item">
            <% if logged_in? %>
              <%= link_to logout_path, class: "nav-link", method: :delete do%>
                <span class="link-wrapper">Cerrar Sesión</span>
              <% end %>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-html5-2.0.1/cr-1.5.4/fc-4.0.0/fh-3.2.0/r-2.2.9/sc-2.0.5/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-html5-2.0.1/cr-1.5.4/fc-4.0.0/fh-3.2.0/r-2.2.9/sc-2.0.5/datatables.min.js"></script>